.header{
    display: flex;
    width: 100%;
    height: 0.94rem;
    line-height: 0.94rem;
    justify-content: space-between;
    color: #36a8fe;
    padding: 0 0.22rem;
    box-sizing: border-box;
    box-shadow: 0px 3px 43px 0px rgba(41, 167, 255, 0.13);
    background-color: #fbfeff;
}
.header a{
    color: #36a8fe
}
.goods ul{
    padding: 0 0.22rem;
    margin-top: 1.14rem;
}
.goods ul li{
    height: 1.94rem;
    display: flex;
    margin-bottom: 0.5rem;
    border-bottom: 0.01rem solid rgba(0,0,0,0.6);
    position: relative;

}

.goods ul li .tu::before{
    content: '';
    display: block;
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
    background: #e7f6ff;
    position: absolute;
    top: 0.7rem;
}
.goods ul li .xuanzhong{
    width: 0.48rem;
    height: 0.48rem;
    position: absolute;
    left: -0.12rem;
    top: 0.6rem;
    z-index: 100;
}
.goods ul li .tu img{
    width: 1.74rem;
    height: 1.74rem;
    margin-left: 0.56rem;
    margin-top: 0rem;
}
.goods li .word{
    flex-grow: 1;
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.goods li .word p{
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
}
.goods li .word span{
    font-size: 0.26rem;
    color: #a4a8ac;
}
.goods li .num{
    flex-grow: 2;
    font-size: 0.26rem;
    color: #36a8fe;
}
.goods li .num img{
    width: 0.34rem;
    height: 0.34rem;
    margin-top: 0.5rem;
}

.all{
    padding: 0 0.22rem;
    position: absolute;
    bottom: 1.6rem;
}
.all img{
    width: 0.48rem;
    height: 0.48rem;
    position: absolute;
    left: 0.12rem;
    top: 0.06rem;
    z-index: 100;
}
.all span{
    color: #3bacfe;
    font-size: 0.24rem;
    margin-left: 0.4rem;
}
.all span::before{
    content: '';
    display: block;
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
    background: #e7f6ff;
    position: absolute;
    top: 0.14rem;
}

.bottom{
    height: 1.1rem;
    background: #f1faff;
    margin-top: 3.3rem;
    padding: 0 0.22rem;
    position: relative;

}
.bottom .money{
    width: 2.7rem;
    height: 1.1rem;
    flex-grow: 1;
}
.bottom .money span{
    display: flex;
    font-size: 0.24rem;
    color: #3bacfe;
    margin-top: 0.1rem;
    float: left;
    margin-left: 0.2rem;
    position: relative;
}
.bottom .money span::before{
    content: '';
    display: block;
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #4ebbfe;
    position: absolute;
    left: -0.2rem;
    top: 0.2rem;
}
.bottom .money .he{
    display: inline;
}
.bottom .money b {
    font-size: 0.36rem;
    color: #36a8fe;
    margin-top: 0.22rem;
}
.bottom .button{
    background: #f1faff;;
}
.bottom .button img{
    width: 3.8rem;
    height: 1rem;
    float: right;
    position: absolute;
    bottom: 0.1rem;
    right: 0;
}
.bottom .button{
    width: 3.8rem;
    height: 0.6rem;
    background: #31d69a;
    border-radius: 0.3rem;
    float: right;
    position: absolute;
    top: 0.28rem;
    right: 0;
}
.bottom .button a{
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.24rem;
    color: #FFFFFF;
}

